.root {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  height: 100%;
}

.filtersContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 48px auto;
  color: var(--icon-active) !important;
}

.data {
  overflow: auto;
}
