.root {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.filtersContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 48px auto;
  composes: shadow-bottom-sm from global;
}

.filters {
  padding: 12px;
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 12px;
  composes: border-top from global;
}

.filterByLabel {
  composes: title from global;
}

.data {
  overflow: auto;
  position: relative;
}
