.root {
  border-radius: 30px;
  border-width: 2px;
  border-color: var(--icon-active);
  color: var(--icon-active);
  cursor: pointer;
  border-style: solid;
  background-color: transparent;
}

.selected {
  background-color: var(--icon-active);
  color: white;
}
