.root {
  border-radius: 30px;
  border-width: 2px;
  border-color: var(--icon-active);
  color: var(--icon-active);
  cursor: pointer;
}

.selected {
  background: var(--icon-active);
  color: white;
}
